**/target/
**/.env
**/.env2
**/rust-toolchain
hfuzz_target
hfuzz_workspace

**/*.rs.bk

*.o
*.so
*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.cargo
.idea
.vscode
*.iml
*.swp
*.swo

# remove zombienet from committed files
deployments/zombienet/zombienet-*
# these are the files related to the benchmark results
pallets/*/src/benchmark_raw.json
pallets/*/src/weights_new.rs
